BODY {

}

.png {
  behavior: url("js/iepngfix.htc")
}

.clear {
  clear: both;
}

A:hover {
  text-decoration: underline;
}


#header {
	position: relative;
	z-index: 0;	
}
#header .menu {
  position: absolute;
	z-index: 3;
	left: 300px;
	top: 50px;
}
#header .menu .act {
  color: #FF0F0F;
}
#header .menu A {
  padding: 0 40px 0 0;
	font: 12px arial;
	color: #000;
}

/*web go*/
#wrapper_web {
  min-width: 1000px;
	position: relative;
}
#header .logo_web {
  display: block;
	position: absolute;
	z-index: 10;
	float: left;
	width: 118px;
	height: 80px;
	margin: 10px 100px 0 20px;
	background: url(../images/logo.png) no-repeat 0 0;
}
#inner_web {
  padding: 100px 0 0 0;
	position: relative;
}
#inner_web .web_left {
	text-align: center;
	overflow: hidden;
	width: 44%;
	margin: 0 auto;
}
#inner_web .web_left .block_items {
  overflow: hidden;
}
#inner_web .web_left .item {
  width: 130px;
	height: 125px;
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}
#inner_web .web_left .item IMG {
	text-align: center;
}
#inner_web .web_left .yet {
  font: 12px/50px arial;
	color: #000;
	margin: 0;
	padding: 0 0 15px 0;
	background: url(../images/arrow_down.jpg) no-repeat 0 100%;
}
#inner_web .web_left .yet:hover {
  text-decoration: none;
}
#inner_web .web_right {
	height: 320px;
	width: 25%;
	float: right;
}
#inner_web .web_right A {
  font: 12px arial;
	color: #000;
}
#inner_web .web_men {
  position: absolute;
	width: 343px;
	height: 322px;
	right: 0;
	top: 253px;
  background: url(../images/men.png) no-repeat 0 0;
}
#inner_web .online {
  position: absolute;
	width: 52px;
	height: 48px;
	left: 600px;
	top: 520px;
	text-align: center;
  background: black;
}
#inner_web .online A {
  display: block;
	font: 12px/16px arial;
	color: #fff;
}
#inner_web .tel {
  font: 12px arial;
	color: #FF0F0F;
	margin: 100px 0 0 320px;
}
#inner_web .tel A {
  font: 12px arial;
	color: #FF0F0F;
}
#inner_web .tel SPAN {
  font: 12px arial;
	color: #000;
}

/*web end*/

/*design go*/

#header .logo_design {
  display: block;
	position: absolute;
	z-index: 10;
	float: left;
	width: 118px;
	height: 80px;
	margin: 10px 100px 0 20px;
	background: url(../images/logo.png) no-repeat 0 0;
}
#header .design_men {
  position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 263px;
  background: url(../images/design_men.jpg) no-repeat 0 0;
}
#header .logo_design {
  display: block;
	position: absolute;
	z-index: 10;
	float: left;
	width: 118px;
	height: 80px;
	margin: 10px 100px 0 20px;
	background: url(../images/logo.png) no-repeat 0 0;
}
#header IMG {
  position: absolute;
	top: 120px;
	left: 20px;
	z-index: 10;
	width: 84px;
	height: 88px;
	background: url(../images/t_vk_f_2.png) no-repeat 0 0;
}
#inner_design {
	padding: 271px 0 0 0;
}
#inner_design .design_left {
	width: 30%;
	height: 280px;
	text-align: right;
}
#inner_design .design_left A {
  font: 12px arial;
	color: #000;
	clear: both;
}
#inner_design .design_right {
  margin: 0 300px 0 31%;
	overflow: hidden;
	position: absolute;
	top: 120px;
	text-align: center;
}
#inner_design .design_right .block_items {
  overflow: hidden;
}
#inner_design .design_right .block_items .item {
  float: left;
	width: 130px;
	height: 125px;
	overflow: hidden;
}
#inner_design .design_right .yet {
  font: 12px/50px arial;
	color: #000;
	margin: 0;
	padding: 0 0 15px 0;
	vertical-align: bottom;
	background: url(../images/arrow_down.jpg) no-repeat 0 100%;
}
#inner_design .design_right .yet:hover {
  text-decoration: none;
}
#inner_design .design_right .mrk {
  float: left;
	text-align: left;
	font: 12px arial;
	color: #181818;
	margin: 20px 0 0 0;
}
#inner_design .tel {
  font: 12px arial;
	color: #FF0F0F;
}
#inner_design .tel A {
  font: 12px arial;
	color: #FF0F0F;
}
#inner_design .tel SPAN {
  font: 12px arial;
	color: #000;
}
#header .online {
  position: absolute;
	width: 52px;
	height: 48px;
	left: 403px;
	top: 0px;
	z-index: 4;
	text-align: center;
  background: black;
}
#header .online A {
  display: block;
	font: 12px/16px arial;
	color: #fff;
}

/*design end*/

/* event go */


BODY.event_black_bg {
  background: url(../images/main_black_bg.jpg) no-repeat right bottom black;
}
#event_line {
  background: url(../images/event_line.png) repeat-y 17px 0;
}

#wrapper_event {
  min-width: 1000px;
	position: relative;
	overflow: hidden;
}
#wrapper_event .event_men {
  position: absolute;
	width: 250px;
	height: 460px;
	left: -13px;
	bottom: 0;
  background: url(../images/event_men.png) no-repeat 0 0;
}
#wrapper_event .event_online {
  position: absolute;
	width: 113px;
	height: 172px;
	left: 130px;
	top: 0px;
	padding: 129px 0 0 0;
	text-align: center;
  background: url(../images/event_online.png) no-repeat 0 0;
}
#wrapper_event .event_online A {
  display: block;
	font: 10px/12px arial;
	color: #fff;
}
#wrapper_event .soc_seti {
  position: absolute;
	width: 50px;
	height: 150px;
	top: 50px;
	right: 0;
	overflow: hidden;
}
#wrapper_event .soc_seti .twitt {
  display: block;
	width: 30px;
	height: 26px;
  background: url(../images/event_twitter.png) no-repeat 50% 50%;
}
#wrapper_event .soc_seti .vk {
  display: block;
	margin: 10px 0 10px 0;
  width: 30px;
	height: 26px;
  background: url(../images/event_vk.png) no-repeat 50% 50%;
}
#wrapper_event .soc_seti .face {
  display: block;
	width: 30px;
	height: 26px;
  background: url(../images/event_face.png) no-repeat 50% 50%;
}

#header_event {
  
}
#header_event .logo_event {
  display: block;
	float: left;
	width: 118px;
	height: 80px;
	margin: 10px 0 0 35px;
	background: url(../images/logo.png) no-repeat 0 0;
}
#header_event .menu_event {
  position: absolute;
	z-index: 3;
	left: 250px;
	top: 30px;
}
#header_event .menu_event .act {
  color: #FF0F0F;
}
#header_event .menu_event A {
  padding: 0 40px 0 0;
	font: 12px arial;
	color: #EBEBEB;
}

#inner_event {
  margin: 100px 0 0 0;
	overflow: hidden;
}

#inner_event .event_right {
	float: right;
	margin: 0 100px 0 0;
	text-align: right;
}
#inner_event .event_right A {
  font: 12px arial;
	color: #EBEBEB;
}

#inner_event .event_cont {
	text-align: center;
	overflow: hidden;
	margin: 0 0 0 25%;
}
#inner_event .event_cont .block_items {
  overflow: hidden;
	width: 70%;
	margin: 0 auto;
}
#inner_event .event_cont .item {
  width: 130px;
	height: 100px;
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}
#inner_event .event_cont .item IMG {
	text-align: center;
}
#inner_event .event_cont .yet {
  display: block;
	width: 100%;
	height: 20px;
	margin: 0 auto;
	font: 12px arial;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 0 0 14px 0;
	vertical-align: bottom;
	background: url(../images/arrow_down-white.png) no-repeat 50% 100%;
}
#inner_event .event_cont .yet:hover {
  text-decoration: none;
}

#footer_event {
  width: 100%;
	height: 60px;
	margin: 0 auto;
	background:;
}
#footer_event .event_firm {
	width: 200px;
	margin: 0 auto;
	font: 10px/10px arial;
	color: #EBEBEB;
	overflow: hidden;
	text-align: center;
}
#footer_event .event_firm A {
  color: #FD2A2A;
}
#footer_event .event_firm IMG {
  margin: 0 0 -10px 0;
}

/* event end */

/* portfolio go */

#header {
  height: 80px;
}
#header .menu_portfolio {
  position: absolute;
	z-index: 3;
	left: 200px;
	top: 30px;
}
#header .menu_portfolio .act {
  color: #FF0F0F;
}
#header .menu_portfolio A {
  padding: 0 40px 0 0;
	font: 12px arial;
	color: #000;
}

#inner_portfolio {
  padding: 50px 0 0 0;
  overflow: hidden;
	margin: 0 0 0 50px;
	background: url(../images/inner_portfolio.png) no-repeat 0 0;
}
#inner_portfolio .web_left {
	text-align: center;
	overflow: hidden;
	width: 44%;
	margin: 0 auto;
}
#inner_portfolio .web_left .block_items {
  overflow: hidden;
}
#inner_portfolio .web_left .item {
  width: 130px;
	height: 125px;
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}
#inner_portfolio .web_left .item IMG {
	text-align: center;
}
#inner_portfolio .web_left .yet {
  font: 12px/50px arial;
	color: #000;
	margin: 0;
	padding: 0 0 15px 0;
	background: url(../images/arrow_down.jpg) no-repeat 0 100%;
}
#inner_portfolio .web_left .yet:hover {
  text-decoration: none;
}
#inner_portfolio .portfolio_left {
	width: 400px;
	float: left;
	text-align: right;
}
#inner_portfolio .portfolio_left A {
  font: 10px/28px arial;
	color: #000;
}
#inner_portfolio .web_men {
  position: absolute;
	width: 343px;
	height: 322px;
	right: 0;
	top: 253px;
  background: url(../images/men.png) no-repeat 0 0;
}
#inner_portfolio .online {
  position: absolute;
	width: 52px;
	height: 48px;
	right: 200px;
	top: 90px;
	text-align: center;
  background: black;
}
#inner_portfolio .online A {
  display: block;
	font: 12px/16px arial;
	color: #fff;
}
#inner_portfolio .tel {
  font: 12px arial;
	color: #FF0F0F;
	margin: 100px 0 0 320px;
}
#inner_portfolio .tel A {
  font: 12px arial;
	color: #FF0F0F;
}
#inner_portfolio .tel SPAN {
  font: 12px arial;
	color: #000;
}

#footer_portfolio {
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
}
#footer_portfolio .portfolio_reitings {
	width: 190px;
	font: 10px/10px arial;
	color: #181818;
	overflow: hidden;
	text-align: center;
}
#footer_portfolio .portfolio_reitings A {
  color: #FD2A2A;
}

#wrapper_portfolio {
  position: relative;
}
#wrapper_portfolio .soc_seti {
  position: absolute;
	width: 50px;
	bottom: 20px;
	left: 15px;
}
#wrapper_portfolio .soc_seti .twitt {
  display: block;
	width: 30px;
	height: 26px;
  background: url(../images/twitt_white.png) no-repeat 50% 50%;
}
#wrapper_portfolio .soc_seti .vk {
  display: block;
	margin: 10px 0 10px 0;
  width: 30px;
	height: 26px;
  background: url(../images/vk_white.png) no-repeat 50% 50%;
}
#wrapper_portfolio .soc_seti .face {
  display: block;
	width: 30px;
	height: 26px;
  background: url(../images/face_white.png) no-repeat 50% 50%;
}


/* portfolio end */

#footer {
  margin: 10px 0 0 0;
  border-top: solid 3px black;
}
#footer IMG {
  margin: 10px;
}
#footer .footer_firm {
  float: right;
	width: 48%;
	font: 12px arial;
	color: #181818;
	overflow: hidden;
}
#footer .footer_firm .reitings {
  float: right;
	width: 200px;
	text-align: right;
	font: 10px arial;
	color: #181818;
	overflow: hidden;
	margin: 0 10px 0 0;
}
#footer .footer_firm .reitings A {
  color: #FD2A2A;
}
#footer .footer_firm .reitings IMG {
	float: right;
	margin: 10px 10px 0 0;
}










